data
figs/png
figs/*.avi
figs/*.pdf
__pycache__
log
OFcase/constant/polyMesh
OFcase/0/C*
OFcase/0/*_IC
OFcase/processor*
OFcase/postProcessing
OFcase/log
OFcase/err
OFpre/__pycache__
OFpost/__pycache__
gpOptim/__pycache__
#OFcase/system/yTopParams.in
#gpOptim/workDir/gpList.dat
OFpre/inflow/__pycache__/
OFpre/inflow/bl_data/
storage/
__pycache__/
*.pyc
log/
*.log
BOGP_opt_*.out
BOGP_opt_*.err
OFpost/driver.log
OFpre/inflow/driver.log
driver.log
OFcase/[0-9]*/
OFcase/VTK/
OFcase/dynamicCode/
